In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()

'/Users/jean.metz/workspace/jmetzz/sandbox-python/py_timeseries_forecast/notebooks'

In [4]:
# read data from https://OTexts.com/fpp3/extrafiles/prison_population.
# This data set provides information on the size of the prison population in Australia,
# disaggregated by state, gender, legal status and indigenous status.
# Here, ATSI stands for Aboriginal or Torres Strait Islander.
df = pd.read_csv("../../data/raw/prison_population.csv", sep=",")
df.head()

         Date State  Gender      Legal Indigenous  Count
0  2005-03-01   ACT  Female   Remanded       ATSI      0
1  2005-03-01   ACT  Female   Remanded   Non-ATSI      2
2  2005-03-01   ACT  Female  Sentenced       ATSI      0
3  2005-03-01   ACT  Female  Sentenced   Non-ATSI      5
4  2005-03-01   ACT    Male   Remanded       ATSI      7

In [5]:
df.describe()

             Count
count  3072.000000
mean    466.756836
std     936.968938
min       0.000000
25%      22.000000
50%     100.000000
75%     355.250000
max    6014.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072 entries, 0 to 3071
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        3072 non-null   object
 1   State       3072 non-null   object
 2   Gender      3072 non-null   object
 3   Legal       3072 non-null   object
 4   Indigenous  3072 non-null   object
 5   Count       3072 non-null   int64
dtypes: int64(1), object(5)
memory usage: 144.1+ KB

In [11]:
df.Date = df.Date.astype(np.datetime64)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072 entries, 0 to 3071
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        3072 non-null   datetime64[ns]
 1   State       3072 non-null   object
 2   Gender      3072 non-null   object
 3   Legal       3072 non-null   object
 4   Indigenous  3072 non-null   object
 5   Count       3072 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 144.1+ KB

In [13]:
df

           Date State  Gender      Legal Indigenous  Count
0    2005-03-01   ACT  Female   Remanded       ATSI      0
1    2005-03-01   ACT  Female   Remanded   Non-ATSI      2
2    2005-03-01   ACT  Female  Sentenced       ATSI      0
3    2005-03-01   ACT  Female  Sentenced   Non-ATSI      5
4    2005-03-01   ACT    Male   Remanded       ATSI      7
...         ...   ...     ...        ...        ...    ...
3067 2016-12-01    WA  Female  Sentenced   Non-ATSI    220
3068 2016-12-01    WA    Male   Remanded       ATSI    623
3069 2016-12-01    WA    Male   Remanded   Non-ATSI    985
3070 2016-12-01    WA    Male  Sentenced       ATSI   1463
3071 2016-12-01    WA    Male  Sentenced   Non-ATSI   2625

[3072 rows x 6 columns]

In [ ]:
# the original csv file stored the dates as individual days, 
# although the data is actually quarterly, so we need to 
# convert the Date variable to quarters before continue with the analysis.